@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

body{
    background-color: #F6F6F6;
    font-family: "Sora", sans-serif;
}
.products.active{
    background-color: #8b5cf6;
    /* border-radius: 50px; */
    color: white;
    font-weight: medium;
}

button{
    cursor: pointer;
}
a{
    cursor: pointer
}